$capitalLaters: uppercase;
$flowerFont: 'Indie Flower', cursive;
$orangeColor: rgb(247, 142, 5);

.uppercase{
    text-transform: $capitalLaters;
}

header{
    font-weight: bold;
    font-family: $flowerFont;
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 5px;
    ul{
        color: $orangeColor;
        
        a{
            color: red;
        }
    }
    li{
        background-color: white;
    }

}

.font{
    font-family: 'Cinzel Decorative', cursive;
   }

footer{
    float: right;
}
.fontFlower{
    font-family: $flowerFont;
    font-size: 1.5em;
    font-weight: bold;
    color: red;
}
.orangeColor{color: $orangeColor;}

aside{
    li{color: $orangeColor;}
}
.backgroundColorHeader{
    background-color: white;
}

.beforeMain{
    margin-left: 0;
    margin-right: 0;
    min-width: 220px;
    max-width: 2560px;
    
}
.beforeMainTextAlign{
    text-align: center;
}