$capitalLaters: uppercase;
$flowerFont: 'Indie Flower', cursive;
$orangeColor: rgb(247, 142, 5);

main{
    margin-left: 15px;
    margin-right: 15px;
}

.uppercase{
    text-transform: $capitalLaters;
}

nav{
    font-weight: bold;
    font-family: $flowerFont;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
    
    ul{
        color: $orangeColor;
        
        a{
            color: red;
        }
    }
   
}

.font{
    font-family: 'Cinzel Decorative', cursive;
   }

footer{
    float: right;
    margin-right: 25px;
    margin-bottom: 5px;
}
.fontFlower{
    font-family: $flowerFont;
    font-size: 1.5em;
    font-weight: bold;
    color: red;
}
.orangeColor{color: $orangeColor;}

aside{
    li{color: $orangeColor;}
}
.margin{   
    margin-right: 60px;
}
.beforeMain{
    margin-left: 0;
    margin-right: 0;
    min-width: 220px;
    max-width: 2560px;
}

.headMenu{
    margin: 35px 10px;
    font-size: 1em;
}
#navBackGroundColor0{
    background-color: white;
}
#navBackGroundColor1{
    background-color: white;
}
#navBackGroundColor2{
    background-color: white;
}
#navBackGroundColor3{
    background-color: white;
}
header{
    div{
        background-color: white;
    }
    
}
#headerBackGroundColor{
    border: 0;
    background-color: white;
}
#hr1{
    border: 6px solid lightblue;
    border-radius: 5px; 
    margin-right: 15px;
    margin-left: 5px;
}
#hr2{
    border: 6px solid lightblue;
    border-radius: 5px; 
    margin-right: 15px;
    margin-left: 5px;   
}
#hr3{
    border: 9px solid lightblue;
    border-radius: 5px;     
}
// About.html  CSS
.forAboutText{
    margin: auto 30%;   
    max-width: 1200px;
    text-align: center;
    
}
#email{
    font-weight: bolder;
    font-size: 1.5em;
}
.footerGoUp{
    font-size: 1.5em;
    margin-bottom: 25px;
    margin-right: 25px;
    font-weight: bold;
    a{
        color: red;
    }
}

